{% extends 'base.html' %}

{% block title %}
    {{ dict.network }} {{ dict.amount }} Recharge Card
{% endblock %}

{% block body %}
    {% if dict.network == 'mtn' %}
            {% if dict.amount == 1000 or dict.amount == 500  %}
                <div class="grid-row-lg">
                    <!-- 500 n 1000 -->
                    {% for data in dict.list %}
                        <div class="card-border grid-col">
                            <div class="mtn-wrap recharge-card bg-white p-2">
                                <div class="mtn-content">
                                    <div class="my-card-header text-center">
                                        <span class="business-name fw-bold">{{ current_user.businessname }} Recharge Card</span>
                                        <span class="amount fw-bold" style="font-size: 16px;">MTN #{{ dict.amount }}</span>    
                                    </div>
                                    
                                    <div class="my-card-body ms-2 mt-2 mb-2">
                                        <span class="ref text-center" style="font-size:16px;">Ref: {{ dict.ref }}</span>
                                        <span class="pin fw-bold text-center" style="font-size: 16px;">Pin</span>
                                        <span class="pin fw-bold text-center" style="font-size: 20px;">{{ data.pin }}</span>
                                        <span class="serial text-center" style="font-size: 16px;">Serial No: {{ data.serial }}</span>
                                    </div>
                                    <div class="my-card-footer">
                                        <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                
            {% elif dict.amount == 100 or dict.amount == 200 %}
                <!-- 200 n 100 -->
                <div class="grid-row-sm">
                    {% for data in dict.list %}
                    <div class="card-border grid-col-sm">
                            <div class="mtn-wrap recharge-card small-card bg-white p-2 me-0">
                                <div class="mtn-content">
                                    <div class="my-card-header text-center">
                                        <span class="business-name fw-bold" style="font-size: 14px;">{{ current_user.businessname }} Recharge Card</span>
                                        <span class="amount fw-bold" style="font-size: 16px;">MTN #{{ dict.amount }}</span>    
                                    </div>
                                    
                                    <div class="my-card-body">
                                        <span class="ref text-center" style="font-size: 11px;">Ref </span>
                                        <span class="ref text-center" style="font-size: 11px;">{{ dict.ref }}</span>
                                        <span class="pin fw-bold text-center" style="font-size: 14px;">Pin</span>
                                        <span class="pin fw-bold" style="font-size: 15px;">{{ data.pin }}</span>
                                        <span class="serial text-center" style="font-size: 13px;">Serial No</span>
                                        <span class="serial text-center" style="font-size: 13px;">{{ data.serial }}</span>
                                    </div>
                                    <div class="my-card-footer">
                                        <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            {% endif %}


            <!-- GLO -->
            <!-- 500 n 1000 -->
    {% elif dict.network == 'glo' %}
        {% if dict.amount == 1000 or dict.amount == 500  %}
            <div class="grid-row-lg">
                {% for data in dict.list %}
                    <div class="col-6 p-0 m-0 card-border">
                        <div class="glo-wrap recharge-card w-100 bg-white p-3 me-0">
                            <div class="glo-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">GLO #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body ms-2 mt-2 mb-2">
                                    <span class="ref text-center" style="font-size:16px;">Ref: {{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 20px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 16px;">Serial No: {{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        {% elif dict.amount == 100 or dict.amount == 200 %}
            <div class="grid-row-sm">
                <!-- 200 n 100 -->
                {% for data in dict.list %}
                    <div class="col-4 p-0 m-0 card-border">
                        <div class="glo-wrap recharge-card small-card w-100 bg-white p-3 me-0">
                            <div class="glo-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold" style="font-size: 14px;">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">GLO #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body">
                                    <span class="ref text-center" style="font-size: 11px;">Ref </span>
                                    <span class="ref text-center" style="font-size: 11px;">{{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 14px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 13px;">Serial No</span>
                                    <span class="serial text-center" style="font-size: 13px;">{{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    
            <!-- 500 n 1000 -->
    {% elif dict.network == 'airtel' %}
        {% if dict.amount == 1000 or dict.amount == 500  %}
            <div class="grid-row-lg">
                {% for data in dict.list %}
                    <div class="col-6 p-0 m-0 card-border">
                        <div class="airtel-wrap recharge-card w-100 bg-white p-3 me-0">
                            <div class="airtel-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">Airtel #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body ms-2 mt-2 mb-2">
                                    <span class="ref text-center" style="font-size:16px;">Ref: {{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 20px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 16px;">Serial No: {{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        {% elif dict.amount == 100 or dict.amount == 200 %}
            <div class="grid-row-sm">
                <!-- 200 n 100 -->
                {% for data in dict.list %}
                    <div class="col-4 p-0 m-0 card-border">
                        <div class="airtel-wrap recharge-card small-card w-100 bg-white p-3 me-0">
                            <div class="airtel-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold" style="font-size: 14px;">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">AIRTEL #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body">
                                    <span class="ref text-center" style="font-size: 11px;">Ref </span>
                                    <span class="ref text-center" style="font-size: 11px;">{{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 14px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 13px;">Serial No</span>
                                    <span class="serial text-center" style="font-size: 13px;">{{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}    
        
    {% elif dict.network == '9mobile' %}
        {% if dict.amount == 1000 or dict.amount == 500  %}
            <div class="grid-row-lg">
                {% for data in dict.list %}
                    <div class="col-6 p-0 m-0 card-border">
                        <div class="nineMobile-wrap recharge-card w-100 bg-white p-3 me-0">
                            <div class="nineMobile-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">9MOBILE #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body ms-2 mt-2 mb-2">
                                    <span class="ref text-center" style="font-size:16px;">Ref: {{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 20px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 16px;">Serial No: {{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        {% elif dict.amount == 100 or dict.amount == 200 %}
            <div class="grid-row-sm">
                <!-- 200 n 100 -->
                {% for data in dict.list %}
                    <div class="col-4 p-0 m-0 card-border">
                        <div class="nineMobile-wrap recharge-card small-card w-100 bg-white p-3 me-0">
                            <div class="nineMobile-content">
                                <div class="my-card-header text-center">
                                    <span class="business-name fw-bold" style="font-size: 14px;">{{ current_user.businessname }} Recharge Card</span>
                                    <span class="amount fw-bold" style="font-size: 16px;">9MOBILE #{{ dict.amount }}</span>    
                                </div>
                                
                                <div class="my-card-body">
                                    <span class="ref text-center" style="font-size: 11px;">Ref </span>
                                    <span class="ref text-center" style="font-size: 11px;">{{ dict.ref }}</span>
                                    <span class="pin fw-bold text-center" style="font-size: 14px;">Pin</span>
                                    <span class="pin fw-bold text-center" style="font-size: 16px;">{{ data.pin }}</span>
                                    <span class="serial text-center" style="font-size: 13px;">Serial No</span>
                                    <span class="serial text-center" style="font-size: 13px;">{{ data.serial }}</span>
                                </div>
                                <div class="my-card-footer">
                                    <span class="code text-center fw-bold" style="font-size: 16px;">Dial {{ data.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}    

{% endblock %}

{% block script %}
    <script defer>
        window.onload = function(){
            container = document.getElementById('container')
            container.classList.remove('border')
            container.classList.remove('border-default')
            container.classList.remove('rounded') 
            container.classList.remove('shadow')
            container.style.backgroundColor = 'white'
            container.style.margin = 0
            window.print()
        }
    </script>
{% endblock %}